body {
    font-family: Verdana;
    background-color: #fff;
}

/*.products__index__product {*/
    /*border: solid #2ea1ff;*/
    /*margin: 5px 0;*/
    /*padding: 5px;*/

/*}*/

.navbar {
    height: 50px;
}


.admin__products__edit__pic {
    width: 30%;
}

/*#carousel {*/
    /*display: block;*/
/*}*/

.btn {
    border-radius: 2px;
}

.form-control {
    border-radius: 2px;
}

#modal_login {
    color: black;
}

.index__product__inner {
    color: #212121;
    border: 2px black solid;
    margin: 5px
}

.index__product__link {
    text-decoration: none;
    color: brown;
}
